[alias]
	 #Update mvn version
	 mvnv= !"mvn versions:set -DgenerateBackupPoms=false -DnewVersion=$(git describe |\
	 		cut -d"-" -f1,2)"

	#Log Commits
	l = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad\\ %C(reset)%s%C(auto)%d" --graph --date=relative
	ld = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad\\ %C(reset)%s%C(auto)%d" --graph --date=short
	bd = !"git l HEAD..origin/HEAD"	

	#List aliases
	la = "!git config -l | grep alias | cut -c 7-"
	
	a = add -A 
	st = status
	s = status -s
	dif = diff --color-words

	co = checkout
	cob = checkout -b
	br = branch
	
	#Commit
	c = commit
	ca = commit -a
	cm = commit -m
	cam = commit -am
	
	rb = rebase
	cp=cherry-pick
	cl=clone
	unstash=stash pop
	#Remote Repositories	
	p = push	
	pb = push -u origin HEAD
	f = fetch
	m = merge
	ms = merge --squash
	fm = pull
	ff = pull
[user]
	name = Daniel Richter
	email = danielr1996@yahoo.de
[push]
	default = matching
[commit]
	template = ~/.gitmessage
