[alias]
	 #Update mvn version
	 mvnv= !"mvn versions:set -DgenerateBackupPoms=false -DnewVersion=$(git describe |\
	 		cut -d"-" -f1,2)"

	#Log Commits
	ls = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad\\ %C(reset)%s%C(auto)%d" --graph --date=relative
	ld = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad\\ %C(reset)%s%C(auto)%d" --graph --date=short

	#List aliases
	la = "!git config -l | grep alias | cut -c 7-"
	a = add -A 
	st = status
	s = status -s
	diff = diff --color-words
	co = checkout
	cob = checkout -b
	br = branch
	ci = commit
	cim = commit -m
	pu = push
	rb = rebase
	cp=cherry-pick
	cl=clone
[user]
	name = Daniel Richter
	email = danielr1996@yahoo.de
[push]
	default = matching
